{% load mptt_tags %}

<link rel="stylesheet" href="/static/css/comments.css" type="text/css" />
<script type="text/javascript" src="/static/js/comments.js"></script>
 <script src="/static/js/rating_star.js"></script>
<link href="/static/css/rating_star.css" rel="stylesheet" type="text/css"/>
<script>
jQuery(document).ready(function(){
  jQuery("#rating_comment").webwidget_rating_sex({
                    rating_star_length: '5',
                    rating_initial_value: '',
                    rating_function_name: '',//this is function name for click
                    directory: '/static/img/'
                });

})

</script>
<br />
<div class="comments_block">
    {% for n in nodes %}
    
    <div class="review_item" itemprop="review" itemscope itemtype="http://schema.org/Review">
        <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" style="display:none">
        <meta itemprop="worstRating" content = "1">
        <meta itemprop="bestRating" content = "5">
        <meta itemprop="ratingValue" content="{{n.vote}}">
    </div>
        <div class="review_head">
            <small>Пользователь:</small> <b><span itemprop="author">{{n.name}}</span></b> <meta itemprop="datePublished" content="{{n.date_add|date:"Y-m-d"}}"><em>{{n.date_add}}</em> 
        </div>
        <div class="review_text" itemprop="description">
            {% if n.parent %}
            <div class="citata">
                <em>{{n.parent.text}}</em>
            </div>
            {% endif %}
            {{n.text}}
            <br />
<div class="otvet"><a href="javascript:void(0);" onclick="jQuery('#ansver_{{n.id}}').slideToggle();">Ответить</a> <span id="reit_comment_{{n.id}}">Оценить: <a onclick="send_utility({{n.id}}, 1);" href="javascript:void(0);" class="plus"> {{n.positive}}
<i class="glyphicons thumbs_up" data-name="thumbs_up" data-type="" data-prefix="glyphicons" data-utf="E344"></i></a> <a href="javascript:void(0);" class="minus" onclick="send_utility({{n.id}}, 0);">{{n.negative}}<i class="glyphicons thumbs_down" data-name="thumbs_down" data-type="" data-prefix="glyphicons" data-utf="E345"></i></a></span></div>
<div id="ansver_{{n.id}}" style="display:none;">
    <table width="100%" class="review_table">
             
            
            <tr class="border_bottom">
                <td width="100">Имя <span class="red">*</span></td>
                <td><input type="text" name="review_name_{{n.id}}" class="reviews_name" /></td>
            </tr>
            <tr class="border_bottom">
                <td width="100">Сообщение <span class="red">*</span></td>
                <td><textarea name="review_text_{{n.id}}" class="reviews_text" ></textarea></td>
            </tr>
            <tr>
                <td width="100"></td>
                <td><button onclick="send_answer({{n.id}});" class="button small green2">Отправить</button></td>
            </tr>
        </table>


</div>
        </div>
        
    </div>
    <br />
    

    {% endfor %}
<h3>Оставить отзыв</h3>
    <div class="review_form">
        <input type="hidden" name="paket" value="{{paket}}">
        <input type="hidden" name="item_model" value="{{item_model}}">
        <input type="hidden" name="item_id" value="{{item_id}}">
        <input type="hidden" name="path" value="{% url 'comment_save' %}">

        <input type="hidden" name="path_answer" value="{% url 'save_answer' %}">
        <input type="hidden" name="path_utility" value="{% url 'utility' %}">

        <table width="100%" class="review_table">
             
            <tr class="border_bottom">
                <td width="100">Оценка </td>
                <td>
                    <input name="reit_review" value="5" id="rating_comment"  type="hidden">
                </td>
            </tr>
            <tr class="border_bottom">
                <td width="100">Имя <span class="red">*</span></td>
                <td><input type="text" name="review_name" class="reviews_name" /></td>
            </tr>
            <tr class="border_bottom">
                <td width="100">Сообщение <span class="red">*</span></td>
                <td><textarea name="review_text" class="reviews_text" ></textarea></td>
            </tr>
            <tr>
                <td width="100"></td>
                <td><button onclick="send_review();" class="btn3">Отправить</button></td>
            </tr>
        </table>

    </div>

</div>