/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
	  background: url(img/subtle_grunge.png);
	  background-repeat:repeat;
      padding-bottom: 40px;
      color: #5a5a5a;
    }

	/* Dropdown hover menu. */
	ul.nav li.dropdown:hover ul.dropdown-menu{
    	display: block;    
	}

	a.menu:after, .dropdown-toggle:after {
	  content: none;
	}

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	margin-top: 20px;
	margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.75);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.75);
              box-shadow: 0 2px 10px rgba(0,0,0,.75);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background-image: url(img/logo.png);
	height: 30px;
	width: 62px;
	margin-top: 14px;
	margin-right: 20px;
	margin-bottom: 16px;
	margin-left: 20px;
	background-size: cover;
    }
	
	.brand {
		float:left;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background-image: url(../img/logo.png);
	height: 50px;
	width: 102px;
	margin-top: -28px;
	margin-right: 20px;
	background-size: cover;
    }
	
    .navbar .contacts {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background-image: url(img/contacts.png);
	height: 30px;
	width: 62px;
	margin-top: 14px;
	margin-right: 20px;
	margin-bottom: 16px;
	margin-left: 20px;
	background-size: cover;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
		font-size:15px;
		font-weight:600;
	/* [disabled]padding-top: 30px; */
	/* [disabled]padding-right: 20px; */
	/* [disabled]padding-bottom: 30px; */
	/* [disabled]padding-left: 20px; */
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 11px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
	border-radius: 4px 4px 4px 4px;
	position: static;
	max-width: 550px;
	margin-top: 200px;
	padding-top: 20;
	padding-right: 20px;
	padding-bottom: 20;
	padding-left: 20px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
	  .navbar .nav > li > a {
		padding: 30px 3px;
	  }
	  .navbar .contacts {
		display:none;
	  }
      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {
	  .navbar .contacts {
		  display:none;
	  }

      .navbar-inner {
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }






.demo{
	float:left;
	width:630px;
	margin:10px 0 20px 20px;
}
.demo ul{
	float:left;
	width:630px;
	margin:5px 0 0 4px;
	display:block;
}
.demo li{
	float:left;
	padding:0;
	margin:0;
	color:white;

}
.demo {
	float:left;
	color:white;

}
.demo a{
	float: left;
	margin: 10px 39px 0 0;
	padding: 0;
	/* [disabled]background: url(bg_thumbs.png); */
	width: 118px;
	height: 118px;
}
.demo  a:hover{
	float: left;
	/* [disabled]background: url(bg_thumbs_h.png); */
	padding: 0;
}
.demo p{
	float:left;
	padding:5px;
}

article
{
  margin-top:150px;
}


.section {
    width: 100%;
    background: #fff;
    margin: 0 0 30px;
}
ul.tabs {
    margin: 0 !important;
    height: 28px;
    line-height: 25px;
    list-style: none !important;
    border-bottom: 1px solid #DDD;
    background: #FFF;
    width: 100%;
    padding: 0 12px;
}
.tabs li {
  width: 130px;
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px 13px !important;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
    list-style: none !important;
    line-height: 25px !important;
    text-align: center;
}
.tabs li a:hover
{
   text-decoration: none;
}
.tabs li:hover,
.vertical .tabs li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
.tabs li.current {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px 13px !important;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.tabs li:before 
{
   content: "";
}
.box {
    display: none;
    border: 1px solid #D4D4D4;
  border-width: 0 1px 1px;
    background: #fff;
    padding: 0 12px;
    width: 100%;
}
.box.visible {
    display: block;
}

.section.vertical {
    width: 440px;
    border-left: 160px solid #FFF;
}
.vertical .tabs {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.vertical .tabs li {
    padding: 0 13px;
    margin: 0 0 1px;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #F9F9F9;
    width: 132px;
    height: 25px;
}
.vertical .tabs li:hover {
    width: 131px;
}
.vertical .tabs li.current {
    width: 133px;
    color: #444;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
}


.price 
{
  border-collapse: collapse;
}
.price td 
{
  border:1px solid silver;
  padding: 5px;
}

.price_head td 
{
  border:1px solid #fff;
  text-align: center;
  color: #fff;
  background-color: #314c60 !important;
  font-weight: bold;
}

/* нечетная строка таблицы класса stripy */
.price tr:nth-child(2n+1){
   
}

/* четная строка таблицы класса stripy */
.price tr:nth-child(2n){
   background-color: #fff;
}

